* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.navbar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
    height: 69px;
}
.nav-links {
    display: flex;
    gap: 20px;
    align-content: space-between;
    list-style-type: none;
    text-decoration: underline;
}

.logo {
    position: absolute;
    left: 10px;
    height: 50px;
}

.bg-image {
    height: 700px;
    width: 1200px;
}


